@import './item.css';

.fi-tabs {
    @apply ring-0 rounded-2xl shadow-md dark:shadow-black/30;
}

/* .fi-tabs:not(.fi-contained) {
    @apply mx-0;
} */

/* .fi-tabs.fi-contained {
    @apply border-b-0 px-0 py-0;
} */
