.fi-dropdown-panel {
    @apply divide-none rounded-xl glass;
}

.fi-sidebar-nav .fi-dropdown-header-label {
    @apply flex-none px-4 py-2 tracking-wider rounded-full text-xs uppercase font-medium bg-gray-200 dark:bg-gray-800;
}

.fi-dropdown-list-item {
    @apply rounded-lg hover:bg-gray-400/5 dark:hover:bg-gray-600/5;
}

.fi-global-search-results-ctn {
    @apply rounded-xl glass;
}

.fi-global-search-result {
    @apply focus-within:bg-gray-400/10 hover:bg-gray-400/10 dark:focus-within:bg-gray-600/10 dark:hover:bg-gray-600/10;
}
