.fi-fo-builder-item {
    @apply bg-gray-50 dark:bg-gray-900 ring-0 rounded-3xl p-1;
}

.fi-fo-builder-item-header {
    @apply rounded-lg bg-gray-50 dark:bg-gray-900/50;
}

.fi-fo-builder-item-content {
    @apply border-none;
}

.fi-fo-builder-block-picker-ctn {
    @apply rounded-lg;
}
