.fi-fo-rich-editor-toolbar {
    @apply bg-gray-50 dark:bg-gray-900/50 border-none;
}

.fi-fo-rich-editor .fi-fo-rich-editor-toolbar-btn {
    @apply rounded-lg font-medium hover:bg-gray-100 dark:hover:bg-gray-800;
}

.fi-fo-rich-editor trix-toolbar .trix-dialog {
    @apply rounded-lg;
}
