.choices__item--choice.choices__item--selectable {
    @apply rounded-lg;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    @apply rounded-lg;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    @apply bg-black/5 dark:bg-white/5;
}

.choices__list--multiple .choices__item.is-highlighted {
  @apply bg-black/5 dark:bg-white/5;
}
