.fi-body {
    @apply bg-gray-100 dark:bg-gray-950;
}

.fi-main {
    @apply min-h-[calc(100vh-theme(spacing.16))];
}

.fi-main-ctn {
    @apply bg-gray-50 dark:bg-[#131316] border-l border-gray-200 dark:border-gray-800 shadow-md dark:shadow-black/30;
}
